* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
}
header {
  font-size: 23px;
  padding: 15px;
  height: 80%;
  background-color: #000000c5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  width: 15%;
}
button {
  background-color: transparent;
  border: transparent;
  height: 20px;
  color: white;
  padding: 20px;
  cursor: pointer;
}
button:hover {
  border-bottom: 2px solid black;
}
nav {
  padding: 15px;
  font-size: 20px;
  text-align: center;
}
section {
  display: grid;
  gap: 10px;
  grid-template-columns: 3fr, 1fr;
  grid-template-areas: "itens aside";
  grid-area: itens;
  flex: 1 0 auto;
}
.itens {
  border-radius: 20px;
  width: 50vh;
  height: auto;
  margin-left: 5%;
  cursor: pointer;
  transition: 0.5s;
}
.itens:hover {
  border: 2px solid black;
}
.imagens {
  border-radius: 20px;
  width: 100%;
  height: 60%;
}
aside {
  padding: 16px;
  align-items: center;
  color: white;
  background-color: #000000c5;
  display: flex;
  flex-direction: column;
  min-widht: 300px;
  grid-area: aside;
}
.extras {
  text-align: center;
  width: 30vh;
  height: auto;
  cursor: pointer;
  transition: 0.5s;
}
.extras:hover {
  border-color: gainsboro;
}
.imagensExtras {
  width: 80%;
  height: 22vh;
}
footer {
  widht: 100%;
  font-size: 23px;
  padding: 15px;
  height: 80%;
  color: white;
  background-color: #000000c5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px
}
#voltar {
  text-decoration: none;
  color: white;
}
@media (max-width: 630px) {
  section {
    grid-template-areas:
      "itens"
      "aside";
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  aside {
    min-width: auto;
  }
@media (max-width: 463px) {
    header {
      justify-content: center;
    }
    footer {
      justify-content: center;
    }
}
